<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Room</title>
    <link rel="stylesheet" href="/css/design.css" />
  </head>
  <body>
    <h2>Design Room</h2>
    <div class="wrapperDiv">
      <header class="grid-item">
        <nav>
          <ul>
            <li>
              <h4><a href="/roomsC"> Back to Rooms </a></h4>
            </li>
            <li>
              <h4><a href="/"> Homepage </a></h4>
            </li>
          </ul>
        </nav>
      </header>
    </div>

    <div>
      <h3><%= room.name %></h3>

      <img src=" <%= room.img %> " alt="Rooms" usemap="#room_image-map" />
      <map name="room_image-map">
        <area
          id="painting"
          shape="rect"
          target="_self"
          alt="Wall_Painting"
          title="Wall_Painting"
          href=""
          coords="24,44,140,120"
        />
        <area
          id="sofa"
          target="_self"
          alt="Couch/Sofa"
          title="Couch/Sofa"
          href="/itemsC/<%=id%>/items"
          coords="390,272,490,250"
          shape="rect"
        />
        <area
          target="_top"
          alt="SideTable"
          title="SideTable"
          href=""
          coords="220,270,320,250"
          shape="rect"
        />
        <area
          target="_self"
          alt="Flowers"
          title="Flowers"
          href=""
          coords=""
          shape="circle"
        />
        <area
          target="_parent"
          alt="Carpet"
          title="Carpet"
          href=""
          coords=""
          shape="poly"
        />
        <area
          shape="rect"
          coords="184,6,253,27"
          href=""
          target="_blank"
          alt=""
        />
        <area
          shape="circle"
          coords="60,136,20"
          href=""
          target="_blank"
          alt=""
        />
        <area
          shape="poly"
          coords="130,6,253,96,223,106,130,39"
          href=""
          target="_blank"
          alt=""
        />
      </map>

      <div id="transparentBox" class="transparentBox">
        <!-- <div id="mydivheader"><img src="/images/s1.jpg" id="sofa" /></div> -->
      </div>

      <div id="designItems"></div>

      <script>
        let imgAll = document.querySelectorAll(".allSofaImg");
        let displayItem = () => {
          //create img, add class to img, then add img to newly created DIV(imgDiv)
          let img = document.createElement("img");
          img.classList.add("img");
          console.log(imgSrc);

          img.src = imgSrc;
          console.log(img);
          // imageDiv.appendChild(img);
          // transparentDiv.appendChild(imageDiv); };
        };
        let imgSrc = "";
        for (let i = 0; i < imgAll.length; i++) {
          imgSrc = imgAll[i].getAttribute("src");
          console.log("imgsrc is", imgSrc);
          alert(imgSrc);
          displayItem();
        }
      </script>

      <div id="div_Sofa">
        <div id="div_Sofa_Header"><img src="/images/s1_.jpg" id="sofa" /></div>
      </div>

      <div id="div_Chair">
        <div id="div_Chair_Header"><img src="/images/c1.jpg" id="chair" /></div>
      </div>
      <!-- <div id="mydivheader"> <img src="/images/c1.jpg" id="chair" /> </div>
          <img src="/images/st1.jpg" id="sideTable" />
          <img src="/images/ct1.jpg" id="coffeeTable" />
          <img src="/images/carpet1.jpg" id="carpet" />
          <img src="/images/painting1.jpg" id="painting" />
        </div>
      </div> -->

      <form action="/roomsC/<%=room.id%>?_method=PUT" method="POST">
        <input type="submit" name="" value="Confirm Design" />
      </form>
    </div>

    <footer class="grid-item">
      <p>
        &copy;Designer App, 2020 copyrights. &nbsp; &nbsp;&nbsp; Send feedback
        to @sachin06jd@gmail.com
      </p>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
