<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Room App</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Room Designer</h1>

    <div class="wrapperDiv">
      <header class="grid-item">
        <nav>
          <ul>
            <li>
              <h4><a href="/authC/signup"> SignUp </a></h4>
            </li>
            <li>
              <h4><a href="/authC/login"> Login </a></h4>
            </li>
          </ul>
        </nav>
      </header>
    </div>

    <section>
      <div id="animate-area" class="room"></div>
    </section>

    <section>
      <div class="current_designs">
        <!-- <a href="/roomsC"> <h3>Current Designs</h3></a> -->
      </div>
      <!-- <div class="current_design2"></div> -->
    </section>

    <footer class="grid-item">
      <p>
        &copy;Room Designer App, 2020 copyrights. &nbsp; &nbsp;&nbsp; New
        release in September.
      </p>
    </footer>
  </body>
</html>
