<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Room App</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Room Designer</h1>
    <nav>
      <a href="/auth/signup">Sign Up</a>
      <a href="/auth/login">Log In</a>
      <a href="/auth/logout">Log Out</a>
    </nav>

    <header>
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
          <a href="/auth/room"> Current Design List</a>

          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/auth/login">Login</a>
            </li>
            <li>
              <a href="/auth/signup">Signup</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
