<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Room App</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Room Designer</h1>

    <nav>
      <h4><a href="/authC/signup"> Sign Up </a></h4>
      &nbsp;&nbsp;
      <h4><a href="/authC/login">Log In </a></h4>
      &nbsp;&nbsp;
      <h4><a href="/authC/logout">Log Out </a></h4>
    </nav>

    <header>
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
          <!-- <a href="/roomsC/allRooms"> Current Design List</a> -->
          <a href="/roomsC"> <h3>Current Design List</h3></a>

          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/authC/login"><h3>Login</h3></a>
            </li>
            <li>
              <a href="/authC/signup"><h3>Signup</h3></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
