<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <h1>Room Designer</h1>

    <div class="wrapperDiv">
      <header class="grid-item">
        <nav>
          <ul>
            <li>
              <h4><a href="/authC/signup"> SignUp </a></h4>
            </li>
            <li>
              <h4><a href="/"> Homepage </a></h4>
            </li>
          </ul>
        </nav>
      </header>
    </div>

    <section>
      <!-- <div id="animate-area" class="room"></div> -->
      <div>
        <h2>Login</h2>
        <form action="/authC/login" method="POST">
          Username: <input type="text" name="username" />
          <br />
          Password: <input type="text" name="password" /><br />

          &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          <input type="submit" value="Login" />
        </form>
      </div>
    </section>

    <section>
      <div class="current_designs">
        <a href="/roomsC"> <h3>Current Designs</h3></a>
      </div>
    </section>

    <footer class="grid-item">
      <p>
        &copy;Designer App, 2020 copyrights. &nbsp; &nbsp;&nbsp; Send feedback
        to @sachin06jd@gmail.com
      </p>
    </footer>
  </body>
</html>
