<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/new.css" />
  </head>
  <body>
    <h2>Create New Room</h2>
    <nav>
      <h4><a href="/roomsC/">Back to Rooms</a> <h4> &nbsp;&nbsp;
      <h4><a href="/">Homepage</a> </h4>
    </nav>

    <div>
      <!--  NOTE: action will be the route, method will be the HTTP verb-->
      <form action="/roomsC" method="POST">
        Name: <input type="text" name="name" placeholder="Room name" /><br />
        Image Source:
        <input type="text" name="img" placeholder="image URL" /><br />
        <input type="submit" name="" value="Create Room" />
      </form>
    </div>
  </body>
</html>
