<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Design Index Page</h1>

    <nav>
      <a href="/pokemon/new">Create a New Design</a>
    </nav>

    <div>
      <ul class="pokemon">
        <li>
          <a href="/pokemon/>"> </a> <br />
          <img src="" alt="" />
          <form action="/pokemon/" method="POST">
            <input type="submit" value="DELETE" />
          </form>
          <!-- Add edit link here  -->
          <a href="/pokemon/"> Edit</a>
        </li>
      </ul>
    </div>
  </body>
</html>
